<!-- search form -->
<form action="" method="get">
  <div>
    <input type="text" name="q" placeholder="Search Flickr photos..." />
    <button type='submit' name='seach'>Search</button>
  </div>
</form><!-- /.search form -->
