<!-- search form -->
<%= form_tag root_path, method: :get, html: { class: 'form-horizontal' } do %>
  <h1 class="text-center">Search Flickr Photos</h1>
  <div class="input-group input-group-lg">
    <input type="text" name="q" placeholder="title, description or tags ..." class="form-control input-lg" />
    <span class="input-group-btn">
      <button type='submit' name='seach' class="btn btn-default btn-lg btn-search"><i class="fa fa-search"></i></button>
    </span>
  </div>
<% end %><!-- /.search form -->
